.about-page {
    color: var(--primary);
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: regular;
}

.video {
    width: 100vw;
}

/* .video-placeholder {
    width: 100vw;
} */

.about-content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    color: var(--secondary);
    width: 72vw;
    padding: 5vh 0;
    font-size: 32pt;
}

.about-class-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    text-decoration: none;
    margin-bottom: 50px;
}

.about-class-section h2 {
    font-family: "Julius Sans One", serif;
    font-size: 40pt;
    color: var(--secondary);
    text-align: center;
    text-decoration: none;
}

.about-classes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -50px;
}

a {
    text-decoration: none;
}

.about-class-offerings img {
    width: 300px;
    padding: 0 2vw;
}

.about-class-heading {
    font-size: 25pt;
    color: var(--secondary);
    position: relative;
    top: 50%;
    text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black, 0 0 80px black;
    z-index: 10;
}

.about-classes-button {
    font-size: 18pt;
    width: fit-content;
    margin-left: 60vw;
}

.about-event-section {
    margin-bottom: 200px;
    width: 100vw;
    height: 600px;
    background-image: linear-gradient(45deg, var(--secondary), rgb(227, 200, 93));
    transform: skewY(10deg);
    display: flex;
    align-items: center;
    justify-content: left;
}

.about-event-section h2 {
    min-width: 600px;
    font-family: "Julius Sans One", serif;
    font-size: 40pt;
    color: black;
    transform: skewY(-10deg) rotate(270deg);
    position: relative;
    left: -220px;
}

.about-event-content {
    /* background-color: salmon; */
    min-width: 80vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: skewY(-10deg);
    position: relative;
    left: -400px;
}

.event1 img {
    width: 350px;
    position: relative;
    top: -50px;
}

.event2 img {
    width: 350px;
    position: relative;
    top: 50px;
}

.about-event-button {
    background-color: var(--tertiary);
    color: var(--secondary);
    position: relative;
    top: 300px;
    font-size: 18pt;
}

.about-event-button:hover {
    background-color: rgb(0, 0, 0,.8);
}

@media screen and (max-width: 1100px) {
    .about-event-section {
        height: 700px;
        background-image: linear-gradient(45deg, var(--secondary), rgb(227, 200, 93));
        transform: skewY(10deg);
        display: flex;
        align-items: center;
    }

    .about-event-content {
        min-width: 85vw;
        justify-content: center;
        flex-direction: column;
        left: -450px;
    }

    .event1 img {
        padding-bottom: 20px;
        top: 0;
    }

    .event2 img {
        top: 0;
    }

    .about-event-button {
        top: 20px;
    }
}


@media screen and (max-width: 1020px) {

    .about-class-section {
        padding: 20px 0 50px 0;
    }

    .about-classes {
        flex-direction: column;
        top: 0;
    }

    .about-class-heading {
        position: relative;
        top: 80px;
        padding-bottom: 20px;
    }

    .about-class-offerings img {
        position: relative;
        top: -100px;
        margin-bottom: -70px;
    }

    .about-classes-button {
        margin-left: auto;
    }
    
}

@media screen and (max-width: 950px) {


}

@media screen and (max-width: 920px) {
    .about-text {
        font-size: 30pt;
    }

}

@media screen and (max-width: 650px) {

    .about-event-section {
        height: 900px;
        background-image: linear-gradient(45deg, var(--secondary), rgb(227, 200, 93));
        transform: skewY(10deg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .about-event-section h2 {
        min-width: 100vw;
        font-size: 40pt;
        color: black;
        transform: skewY(-10deg) rotate(0deg);
        left: 0px;
        top: 20px;
        text-wrap: wrap;
    }

    .about-event-content {
        min-width: 100vw;
        left: 0px;
    }

    .event1 img {
        padding-bottom: 20px;
        top: -20px;
    }

    .event2 img {
        top: -20px;
    }

}

@media screen and (max-width: 420px) {
    
    .about-text {
        font-size: 22pt;
        width: 92vw;
    }

    .about-class-heading {
        text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black;
    }
}