.classes-page {
    color: var(--primary);
    font-family: "Urbanist", sans-serif;
    width: 100vw;
}

.classes-location {
    font-size: 20pt;
    line-height: 8pt;
    color: var(--primary);
    padding: 25px 0;
}

.classes-location h3 {
    font-family: "Julius Sans One", serif;
    color: var(--secondary);
    font-size: 24pt;
}

.classes-location p {
    letter-spacing: 2px;
}

.classes-schedule-section {
    background-image: linear-gradient(45deg, var(--secondary), var(--yellow-fade));
    color: var(--tertiary);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20pt;
    line-height: 8pt;
}

.days h3 {
    font-family: "Julius Sans One", serif;
    font-size: 35pt;
}

.days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}

.class-schedule {
    padding: 10px 20px;
    letter-spacing: 2px;
}

.schedule {
    display: flex;
    flex-direction: row;
}

.times {
    padding-right: 15px;
}

.classes {
    text-align: left;
}

.classes-membership-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
}

.classes-rates {
    width: 40vw;
    padding-left: 20px;
}

.classes-rates h3 {
    font-family: "Julius Sans One", serif;
    font-size: 24pt;
    line-height: 8pt;
    color: var(--secondary);
}

.classes-rates p {
    letter-spacing: 2px;
}

.rates {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rate-category {
    text-align: right;
    padding-right: 20px;
}

.classes-rates p {
    font-size: 14pt;
}

.rate-category p,
.rate-cost p {
    font-size: 18pt;
}

.classes-picture img {
    width: 450px;
}

.classes-first-time {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.classes-first-time h3 {
    font-family: "Julius Sans One", serif;    
    color: var(--secondary);
    width: 40vw;
    font-size: 24pt;
}

.first-time-info {
    width: 45vw;
    font-size: 14pt;
    text-align: left;
    padding-left: 20px;
    letter-spacing: 2px;
}

.classes-levels-section {
    background-image: linear-gradient(45deg, var(--secondary), var(--yellow-fade));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 0 0;
    text-decoration: none;
    margin: 70px 0 0px 0;
}

.classes-levels-section h2 {
    font-family: "Julius Sans One", serif;
    font-size: 30pt;
    color: var(--tertiary);
    text-align: center;
    text-decoration: none;
}

.classes-levels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -80px;
    margin-bottom: -40px;
    letter-spacing: 1px;
}

.class-levels img {
    width: 300px;
    padding: 0 2vw;
}

.class-level-heading {
    font-size: 25pt;
    color: var(--secondary);
    position: relative;
    top: 170px;
    text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black, 0 0 80px black;
    z-index: 10;
}

.level-desc {
    width: 300px;
    padding: 0 2vw;
    font-size: 16pt;
    color: var(--tertiary);
}

@media screen and (max-width: 1020px) {

    .classes-levels-section {
        padding: 20px 0 50px 0;
    }

    .classes-levels {
        flex-direction: column;
        top: 0;
        align-items: center;

    }

    .class-level-heading {
        position: relative;
        top: 80px;
        padding-bottom: 20px;
    }

    .class-levels img {
        position: relative;
        top: -100px;
        margin-bottom: -70px;
    }

    .classes-levels {
        margin-bottom: 10px;
    }

    .class-levels {
        margin-bottom: -50px;
    }

    .level-desc {
        position: relative;
        top: -40px;
    }
    
}

@media screen and (max-width: 965px) {

    .classes-membership-section {
        flex-direction: column;
    }

    .classes-rates {
        width: 70vw;
        padding-left: 0;
        padding-bottom: 20px;
    }

    .classes-picture {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .classes-picture img {
        width: 450px;
        justify-self: center;
    }

}

@media screen and (max-width: 760px) {

    .classes-first-time {
        flex-direction: column;
        align-items: center;
    }
    
    .classes-first-time h3 {
        width: 90vw;
    }
    
    .first-time-info {
        width: 90vw;
        text-align: center;
        padding-left: 0px;
    }

    .first-time-info button {
        margin-top: 20px;
    }


}

@media screen and (max-width: 665px) {

    .classes-rates {
        width: 90vw;
    }

    .classes-picture img {
        width: 350px;
    }

}

@media screen and (max-width: 450px) {

    .rate-category p,
    .rate-cost p {
        font-size: 16pt;
    }

    .classes-levels-section {
        margin: 40px 0 30px 0;
    }

    .class-level-heading {
        text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px black;
    }

    .times, 
    .classes,
    .days p {
        font-size: 18pt;
    }

   
}

@media screen and (max-width: 380px) {

    .classes-schedule-section {
        font-size: 18pt;
        line-height: 8pt;
    }
    
    .days,
    .class-schedule {
        padding: 0px 0px;
    }

    .rate-category p,
    .rate-cost p {
        font-size: 14pt;
    }
    
}