.classes-page {
    color: var(--primary);
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: regular;
}

.classes-text {
    color: var(--secondary);
    display: flex;
    width: 70vw;
    padding: 3vh 15vw;
    justify-content: center;
    font-size: 35pt;
}