.events-page {
    color: var(--primary);
    font-family: "Urbanist", sans-serif;
}

.events-text {
    color: var(--secondary);
    display: flex;
    justify-content: center;
    width: 70vw;
    padding: 3vh 15vw;
    font-size: 35pt;
}