.faqs-page {
    color: var(--primary);
    font-family: "Urbanist", sans-serif;
    font-size: 16pt;
}

.faqs-header {
    padding: 20px 0;
}

.faqs-header h2 {
    font-family: "Julius Sans One", serif;
    color: var(--secondary);
    font-size: 32pt;
}

.faqs-content {
    width: 80vw;
    margin: 10px 10vw;
    letter-spacing: 2px;
}

.faqs-boxes {
    margin: 0 0 -20px 0;
    text-align: left;

}

.faqs-question {
    /* width: 70vw; */
    padding: 10px 20px;
    font-size: 16pt;
    position: relative;
    top: -40px;
    background-image: linear-gradient(45deg, var(--secondary), var(--yellow-fade));    
    color: var(--tertiary);
    border-radius: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.button-close {
    position: relative;
    background: none;
    padding: 0;
    font-size: 30pt;
    cursor: pointer;
}

.button-open {
    position: relative;
    background: none;
    padding: 0;
    font-size: 30pt;
    transform: rotate(45deg);
    cursor: pointer;
}

.button-close:hover,
.button-open:hover {
    background: none;
}

.faqs-content p {
    border: 2px solid var(--secondary);
    padding: 20px 10px;
    position: relative;
    top: -80px;
    border-radius: 0 0 5px 5px;

}

@media screen and (max-width: 1020px) {
    .faqs-content {
        width: 96vw;
        margin: 0 2vw;
        line-height: 1;
    }
}