.faqs-page {
    color: var(--primary);
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: regular;
    font-size: 16pt;
}

.faqs-header {
    padding: 20px 0;
}

.faqs-header h2 {
    font-family: "Julius Sans One", serif;
    color: var(--secondary);
    font-size: 32pt;
}

.faqs-content {
    width: 80vw;
    margin: 0 10vw;
}

.faqs-boxes {
    margin: 0 0 -50px 0;
}

.faqs-content h5 {
    padding: 20px 0;
    font-size: 16pt;
    position: relative;
    top: -40px;
    background-image: linear-gradient(45deg, var(--secondary), var(--yellow-fade));    color: var(--tertiary);
}

.faqs-content p {
    border: 2px solid var(--secondary);
    padding: 20px 0;
    position: relative;
    top: -80px;
}

@media screen and (max-width: 1020px) {
    .faqs-content {
        width: 96vw;
        margin: 0 2vw;
        line-height: 1;
    }
}