.contact-page {
    width: 100vw;
    margin-top: 100px;
}

.contact-header {
    color: var(--secondary);
    font-family: "Julius Sans One", serif;
    font-size: 30pt;
    padding-bottom: 30px;
}

.contact-content {
    display: flex;
    justify-content: center;
    height: 400px;
}

.contact-info {
    color: var(--primary);
    font-family: "Julius Sans One", serif;
    font-weight: 400;
    font-style: normal;
    width: 30vw;
    padding-top: 20px;
    border-right: 2px solid var(--secondary);
    text-align: left;
    margin-left: 10vw;
}

.contact-info h3 {
    padding-top: 15px;
    color: var(--secondary);
}

.contact-info p {
    line-height: 8pt;
}

.contact-form {
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.name,
.email,
.phone {
    font-family: "Sanchez", serif;
    font-size: 13pt;
    text-align: center;
    width: 250px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}

.message {
    font-family: "Sanchez", serif;
    font-size: 13pt;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    height: 200px;
    resize: none;
    min-width: 40vw;
}

button {
    background-color: var(--secondary);
    color: var(--tertiary);
    /* font-family: "Sanchez", serif; */
    font-family: "Julius Sans One", serif;
    font-size: 14pt;
    padding: 10px;
    width: fit-content;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(231, 189, 75, .85);
}

@media screen  and (max-width: 815px) {

    .contact-header {
        padding-bottom: 0px;
    }

    .contact-content {
        flex-wrap: wrap;
        height: 100%;
    }

    .contact-info {
        width: 90vw;
        padding-top: 0px;
        padding-bottom: 20px;
        border-right: none;
        border-bottom: 2px solid var(--secondary);
        text-align: center;
        margin-left: 0;
        font-size: 14pt;
    }

    .contact-info h3 {
        padding-top: 0px;
        color: var(--secondary);
    }

    .contact-form {
        width: 90vw;
        display: flex;
        padding-top: 20px;
    }

    .name,
    .email,
    .phone {
        margin-left: 0px;
    }

    .message {
        margin-left: 0px;
        width: 60vw;
    }

}

@media screen  and (max-width: 650px) {

    .message {
        width: 80vw;
    }
}