.header {
    width: 100vw;
    padding-bottom: 20px;
    display: block;
    border-bottom: 10px double var(--secondary);
}

.header-logo {
    width: 40vw;
    display: flex;
    justify-content: center;
}

.logo {
    width: 300px;

}

.navigation {
    font-family: "Julius Sans One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    right: 0;
    top: 260px;
    width: 70vw;
    color: var(--primary);
    margin: -120px 0 100px 0;
}

.nav-link {
    font-size: 1.25em;
    text-decoration: none;
    color: var(--primary);
    padding: 0 15px;
}

.nav-link:hover {
    background-color: rgb(231, 189, 75, .85);
    color: var(--tertiary);
    padding: 15px 15px 17px 15px;
    border-radius: 5px 5px 0 0;
}

.active,
.active:hover {
    background-color: var(--secondary);
    color: var(--tertiary);
    padding: 15px 15px 17px 15px;
    border-radius: 5px 5px 0 0;
}

@media screen and (max-width: 1050px) {
    .header {
        padding-bottom: 80px;
    }
    
    .header-logo {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .navigation {
        width: 100vw;
        justify-content: center;
        top: 320px;
    }
}